  <section>


    <div class="row g-0">
        <div class="col-md-9">
            <owl-carousel-o [options]="mainslider">
                <ng-template carouselSlide><img height="400" src="./assets/images/main-slider-1.jpeg" alt="slide1"></ng-template>  
                <ng-template carouselSlide><img  height="400" src="./assets/images/main-slider-2.jpeg" alt="slide2"></ng-template>  
                <ng-template carouselSlide><img  height="400" src="./assets/images/main-slider-3.jpeg" alt="slide3"></ng-template>  
                
                
              </owl-carousel-o>
             


        </div><div class="col-md-3 ">
            <img  height="200" class="w-100" src="./assets/images/main-slider-1.jpeg" alt="slide3">
            <img height="200" class="w-100" src="./assets/images/main-slider-2.jpeg" alt="slide3">

        </div>
    </div>
   
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <section *ngIf="gatageries.length>0">
    <h2 style="font-size: 25px ;font-weight: 500; margin-bottom: 20px; color: #0aad0a;">popular gategarey</h2>
    <owl-carousel-o [options]="gategaryoption">

        <ng-container *ngFor="let item of gatageries ">
          <ng-template carouselSlide>
            <img height="270" [src]="item.image" [alt]="item.name" [title]="item.name">
            <h3 class="text-main h6">{{item.name}}</h3>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>



 </section>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <section class="home" *ngIf="products.length>0">
    <p style="font-size: 25px ;font-weight: 500; margin-bottom: 20px; color: #0aad0a;">popular products</p>
   


    <input type="text"  placeholder="search" class="form-control mx-auto w-50 rounded   mb-5" 
    [(ngModel)]="term">
    

    <div class="row g-3">
        <div class="col-md-4 col-xl-2 col-sm-6 col-lg-3" *ngFor="let item of products | search : term  |slice:0:18">
           
            <div class="product h-100  p-2 small">
                <i *ngIf="!whislist.includes(item._id)"  (click)="addfavwhislist(item._id)" class="fa-regular fa-heart heart fa-3x"></i>
                <i *ngIf="whislist.includes(item._id)"   (click)="removewhish(item._id)" class="fa-solid fa-heart fa-3x"></i>



                <header [routerLink]="['/details',item._id]" >
                    <div class="imgcard">

                        <img  class="w-100" [src]="item.imageCover" [title]="item.title" [alt]="item.title">
                    </div>
                   
                    
                   
                   <div>
                    <h2 class="h6">
                        {{item.title | cuttext:3}}
                    </h2>
                    <h3 class="text-main h6">
                        {{item.category.name}}
                    </h3>
                   </div>
                    <div class="d-flex align-items-center justify-content-between" >
                        <span class="small">{{item.price |currency:'GBP'}}</span>
          <span ><i  [class.rating-color]="item.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]" class="fas fa-star rating-color"></i>{{item.ratingsAverage}}</span>
                    </div>
                </header>
                
                    <button   #msgbtn (click)="addtocard(item._id,msgbtn)" class=" btn-main w-100">+ addto card</button>
                

            </div>
            

           
          
        </div>
    </div>
</section>





















