
.card {
    text-align: center;
border: 3px solid;
    border-color: #0aad0a;
    background-color: #00000023;
    
gap: 10px;
margin-bottom: 15px;
}.card h2{
    color: rgba(0, 0, 0, 0.504);
    font-size: 25px;
    font-weight: 500;
}